{% extends "movie/movies_base.html" %}
{% load staticfiles %}
{% load movie_tags %}
{% block  other_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/movies_base.css">
{% endblock %}
{% block movies_title %}
    Мои фильмы
{% endblock %}
{% block movies_sub_title %}
    {{ movies_name_category }}
{% endblock %}
{% block movies_content %}
    <h4>Специально для Аньки - Анютковны</h4>
    <p>Ты не хочешь идти в "Кинопоиск" - Кинопоиск идёт к тебе!</p>
    <p>В качестве презента к 8 марта, дарю тебе свою личную версию этого сайта.</p>
    <p>Что за сайт и зачем он нуже:</p>
    <ul>
 <li>Поиск чего бы посмотреть - нажимай на вкладку "Поиск фильмов" - надйдем тебе 10 фильмов,
     которые должны тебя понравиться, все с учетом твоих предпочтений) </li>
 <li>Фильмохралище - все фильмы, которые ты решила посмотреть, будут всегда под рукой</li>
 <li>Онлайн просмотр - все понравившееся кино можешь смотреть прямо здесь!</li>
</ul>
    <p>Надеюсь тебе понравится) с праздником, Анечка!</p>
    <div class="row disq">
        <div class="col-xs-12">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
    </div>
{% endblock %}
{% block info_block %}
    <div class="info-block">
        <img src="{% static "img/other/love.png" %}" class="responsive-img info-img">
    </div>
    <div class="info-txt">
        Что у нас здесь
    </div>
    <p>Здесь ты найдешь фильмы, которые захотела посмотреть, просмотренное или понравившееся кино </p>
{% endblock %}