{% extends "movie/movies_base.html" %}
{% load staticfiles %}
{% block  other_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/about.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/movies_base.css">
{% endblock %}
{% block movies_title %}
    О сайте
{% endblock %}
{% block movies_sub_title %}
    Немножко о проекте
{% endblock %}
{% block movies_content %}
    <div class="row fail-info">
        <p>Сайт был вдохновлен твоими капризами на счет поиска фильмов и был
            сделал в течении полутора недель, ценой посаженного зрения и синяками под глазами - так что сама понимаешь...</p>
        <h4>Пару слов о фейлах:</h4>
        <ul>
            <li>Онлайн просмотр доступен где-то для 90% фильмов, несмотря на мои многочисленные
                усилия по поиску и фильтру нужных видеозаписей, есть вероятность,что попадутся совсем неожиданные результаты, так что
                будь готова.
            </li>
            <li>При просмотре трейлеров и фильмов, при закрытии нажимай на паузу, иначе звук будет идти.
            </li>
            <li>Большое количество трейлеров на английском :D
            </li>
        </ul>
    </div>
    <div class="row fail-info">
        <h4>Поддержка</h4>
        <p>Все пожелания по функционалу, оформлению и просто
            любые предложения администрация сайта будет рада услышать - контактные данные Вам прекрасно известы</p>
        <p>Надеюсь ты и правда будешь хоть иногда им пользовать, тогда мои безумные идеи обретут хоть какой-то смысл)</p>
        <p>(Чтобы не было скучно, временами буду заходить изменять, писать  тут что нибудь...)</p>
        <div class="row">
           <img class="my-img" src="{% static "img/other/Y2ZtXUpEfWw.jpg" %}">
            <h4 class="pod">Всегда Ваш, Женька - Пузяш</h4>
        </div>

    </div>
{% endblock %}
{% block info_block %}
    <div class="info-block">
        <img src="{% static "img/other/128 (5).png" %}" class="responsive-img info-img">
    </div>
    <div class="info-txt">
        Подсказки
    </div>
    <p>Тут я тебе буду писать всякие подсказочки, чтоб ты не заблудилась</p>
{% endblock %}