{% load staticfiles %}
<!DOCTYPE html>
<html class="full">
    <head>
        {% comment %}<link href="{% static "image/cake1.ico" %}" rel="shortcut icon" type="image/x-icon" />{% endcomment %}

        <title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}
        </title>
        <link href="{% static "img/other/Movie.png" %}" rel="shortcut icon" type="image/png" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="description" content="{{ meta_description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!----------------------------------------styles--------------------------------------------------------------->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

        {% block other_css %}
        {% endblock  %}
        <!----------------------------------------scripts--------------------------------------------------------------->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block other_scripts  %}
        {% endblock %}
    </head>
    <body>
        {% block main_content %} {% endblock %}
    </body>
</html>