{% extends "base.html" %}
{% block main_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top"
         role="navigation">
        <div class="container" style="margin-top: 13px">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size: 30px" href="{% url 'movies_home' %}">Kinolife</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% include "tags/navigations.html" %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block site_wrapper %}{% endblock %}
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Kino-Life 2015</p>
                </div>
            </div>
        <!-- /.row -->
        </footer>
    </div>
{% endblock %}